.allNotes{
    margin-top: 10rem;
}
.allNotes__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.AllNotes__list {
    background-color: var(--box-bg);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    justify-content: center;

    display: flex;
    align-items: center;

    border: 3px solid black;
    border-radius: 1rem;
    padding: 2rem;
}

.AllNotes__list-item {
    flex-basis: 33%;
    max-width: 31.2%;
    margin: 1rem;
    text-wrap: wrap;
    border: 1px solid black;
    height: 10.2rem;
    overflow: scroll;
    cursor: pointer;
    border-radius: 1rem;
    padding: .5rem;


}

.AllNotes__list-item::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1100px) {

    .AllNotes__list-item {
        flex-basis: 50%;
        max-width: 45%;
    }

}

@media only screen and (max-width: 750px) {

    .AllNotes__list-item {
        flex-basis: 100%;
        max-width: 100%;
    }
    .AllNotes__list{
        padding: 0rem;
    }

}