.App{
    --main-color: #0977ed;
    --app-bg-color: #edf0f2;

    --border-color: #000;
    --text-color: #000000;
    --box-bg: #fff;
}

.App.dark {
    --main-color: #0977ed !important;
    --app-bg-color: #111827 !important;

    --border-color: #000 !important;
    --text-color: #fff !important;
    --box-bg: #242a38 !important;
}