.addnew{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.addnew__colors{
    display: flex;
    gap: 1rem;

}

.addnew__color{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

.AllNotes__input-wrapper{
    display: flex;
    flex-direction: column;
}
.AllNotes__input{
    min-height: 4rem;
    width: 28rem;
    max-height: 12rem;
    outline: none;
    resize: vertical;
}
.AllNotes__input-maxlength{
    text-align: end;
    margin-top: .5rem;
}
.AllNotes__btn{
    height: 4rem;
    width: 28rem;
    border: 1px solid var(--main-color);
    transition: all 200ms linear;
    background-color: transparent;
    cursor: pointer;
}

.AllNotes__btn:hover{
    background-color: var(--main-color);
    color: aliceblue;
}