@import url(assests/css/reset.css);
@import url(assests/css/variables.css);

:root{
  font-size: 10px;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}


body {
  margin: 0;
  
  font-size: 1.6rem;
  background-color: var(--app-bg-color);
  color: var(--text-color) !important;
}
